# caddy配置，用来模拟生产环境进行测试
{
	auto_https disable_redirects
}

# 定义变量
(vars) {
	base_url /knowledge
	target_address 113.108.105.54:56800
}

# 配置代理目标地址
(reverse_proxy) {
	reverse_proxy {$target_address}
}

# 配置ws代理
(reverse_ws) {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	
	reverse_proxy @websockets {$target_address}
}

http://127.0.0.1 {
	# 将本地目录地址作为根路径
	root * dist
	file_server

	# 代理指定路径
	route {$base_url}/api/* {
		import reverse_proxy
	}
	
	# 如需启用ws，取消下面注释
	# import reverse_ws
}
