.ellipsis-2-lines {
  display: inline-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 178px;
  white-space: normal; /* 确保文本可以换行 */
}
